
<header class="text-center">
<h1>Books</h1>
</header>
  <div class= "d-flex align-items-center justify-content-between ">

    <% if user_signed_in?%>
      <%= link_to "Add Book", new_book_path, class: "btn btn-primary" %>
    <% end %>

    <%= form_with url:"/books", class: "d-flex align-items-center", method: :get do |form|%>
      <%= form.label :query, "Search for", placeholder: "search book by title or ISBN", class: "fs-5 text-nowrap"%>
      <%= form.search_field :query, value:params[:query], placeholder: "Search by title or ISBN", class: "py-2"%>
      <%= form.submit "Search", class: "btn btn-primary"%>
    <%end%>
    <%= link_to "Back", books_path if params[:query].present?%>
  </div>

  <% if @books.empty? %>
   <p>
     There are no results for the: "<%=params[:query]%>"
    </p>
  <%end%>

  <ul class="list-group list-group-flush" >
    <% @books.each do |book| %>
      <li class="list-group-item" >
        <%= link_to book_path(book), class: "d-flex flex-column align-item-center mb-2" do %> 
          <%= book.title %>
          
          <% if book.cover_image.attached?%>
            <%=image_tag book.cover_image, width: "100" %>
          <%else %>
           <img src="https://fpoimg.com/200x250?text=Hanselman" width="100"/>
          <%end%>
        <% end %>

        <small>
          Added by: <%= book.user.email if book.user %>
        </small>
        <% if user_signed_in? && current_user == book.user%>
          <div >
            <%= link_to "Edit", edit_book_path(book), class: "btn btn-warning" %>
            <%= link_to "Delete", book_path(book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<%= pagy_combo_nav_js(@pagy).html_safe%>
