
<header class="text-center">
<h1><%= @book.title %></h1>
</header>
<p><strong> Author:</strong> <%= @book.author %></p>
<%= image_tag @book.cover_image, width: "100" if @book.cover_image.attached? %>
<h2> Reviews </h2>

<ul>
  <% @book.reviews.each do |review| %>
  <li>
    <p>
     <%= review.content %> 
     <small><%=review.user.email%></small>
    </p>
      <%= '★' * review.rating + '☆' * (5 - review.rating) %>
    <% if user_signed_in? && current_user == review.user %>
      <%= link_to 'Delete', [review.book, review], data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete" } %>
    <%end%>
  </li>
   <% end %>
</ul>

<% if user_signed_in? %>
  <%= form_with(model: [@book, Review.new]) do |form| %>
  <%= form.rich_textarea :content, placeholder: "Write your review here" %><br>

  <div class="star-rating my-2">
    <%= form.label :rating, "Rating:" %><br>
    <% 5.downto(1) do |i| %>
    <%= form.radio_button :rating, i, id: "star#{i}" %>
    <label for="star<%= i %>" title="<%= i %> stars">★</label>
    <% end %>
  </div>
    <%= form.submit 'Submit Review', class:"btn btn-primary" %>
    <% end %>
<% else %>
  <p class="alert alert-warning">
    <%= link_to "Log in", new_user_session_path %> to write a review.
  </p>
<%end%>
<%= link_to 'Edit', edit_book_path(@book)%>
<%= link_to 'Back to Books', books_path %>