

<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<%= image_tag @book.cover_image if @book.cover_image.attached? %>
<h2>Reviews</h2>
<ul>
  <% @book.reviews.each do |review| %>
    <li><%= review.content %> - <%= review.rating %> stars
      <%= link_to 'Delete', [review.book, review], method: :delete %></li>
  <% end %>
</ul>
<%= form_with(model: [@book, Review.new]) do |form| %>
  <%= form.text_area :content %>
  <%= form.number_field :rating, in: 1..5 %>
  <%= form.submit 'Submit Review' %>
<% end %>
<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Back to Index', books_path %>